*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

:root{
    /* background color */
    --bg-1st: #161616;
    --bg-2st: #e7e4e4;
    --bg-3rd: #101010;
    --bg-food-color:rgba(237, 37, 37, 0.842);

    /* fill color */
    --bg-fill-primary:#eae3e3c7;

    /* text color */
    --text-1st:#ededed;
    --text-2st:rgb(6, 6, 6);

    /* space variables */
    --space-sm: 8px;
    --space-md: 12px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-xxl: 48px;

    /* border space */
    --border-space-sm: 2px;
    --border-space-md: 4px;
    --border-space-lg: 8px;
    --border-space-xl: 16px;
    
    /* border radius */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;

    /* border color */
    --border-primary-color: rgba(233, 226, 226, 0.958);
    --border-secondary-color: #ebeaea51;

    /* font size */
    --font-size-sm: 16px;
    --font-size-md: 20px;
    --font-size-lg: 24px;
    --font-size-xl: 28px;
    --font-size-xxl: 32px;
    
}

main{
    height: 100%;
    width: 100%;
    background-color: var(--bg-1st);
    color: var(--text-1st);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-md);
}

.infos{
    display: flex;
    justify-content: space-between;

    .info{
        padding: var(--space-md) var(--space-lg);
        background-color: var(--bg-3rd);
        border-radius: var(--space-sm);
        margin-top: var(--space-md);
    }
}

.board{
    border: solid var(--border-space-sm) var(--border-primary-color);
    flex-grow: 1;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    display: grid;
    margin: var(--space-sm);
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
}

.block{
    border: solid 2px var(--border-secondary-color);
    border-radius: 50%;
}

.fill{
    background-color: var(--bg-fill-primary);
}

.food{
    background-color: var(--bg-food-color);
}

.model{
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4948484c;
    backdrop-filter: blur(4px);
}

.model .st-game,.model .restart-game{
    color: #f5f0f0;   
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}

.btn{
    padding: var(--space-md) var(--space-xxl);
    border: none;
    border-radius: var(--border-radius-md);
    transition: all 0.4s ease;
    font-size: 1.1rem;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(19, 19, 19);
    color: #fff;
    scale: 1.09;
}

.model .restart-game{
    display: none;
}